body {
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}

a {
  color: lightgrey;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo {
}

#logo img {
  width: 75%;
  margin-bottom: 5px;
}

#nav a {
  padding-right: 1ex;
}

#gallery {
  /* Prevent vertical gaps */
  line-height: 0;
  
  -webkit-column-count: 4;
  -webkit-column-gap:   5px;
  -moz-column-count:    4;
  -moz-column-gap:      5px;
  column-count:         4;
  column-gap:           5px;  
}

#gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 1024px) {
  #gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }

  #logo img {
    width: 100%;
  }
}
